.allBooks {
	width: 80%;
	border: 2px solid darkred;
	display: grid;
	grid-gap: 40px;
	padding: 10px;
	grid-template-columns: repeat(5, 1fr);
	
}

.allBook {
	width: 185px;
	border: 1px solid black;
}

.allBook .bgAll {
	height: 170px;
	width: 175px;
	background-color: #DCD8C4;
	margin: 10px auto;
	
}

.allBook img {
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}

/*.allBook h5 {
	margin: 0;
	padding: 0;
}*/

.allBook .txtAll {
	width: 180px;
	padding: 3px;
	display: flex;
	justify-content: space-between;
}

.allBook .txtAll h6,h5 {
	margin: 0px;
	padding-top: 0px;
}

.txtPrice p {
	margin: 0;
	padding-bottom: 13px;
	padding-right: 3px;
	text-align: right;
}

@media (max-width: 1300px) {
	.allBooks {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1060px) {
	.allBooks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 850px) {
	.allBooks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px) {
	.allBooks {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.allBooks .allBook {
		margin: 0 auto;
	}
}
