

/*title that goes under searchBar*/

.title h1 {
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
	margin-top: 120px;
	color: #23233d;
}

/*searchBox*/

 .SearchBox {
	width: 60%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*3 main divs*/

.SearchBox .inputTitle {
	width: 100%;
	height: 20%;
}

.SearchBox input {
	position: relative;
	width: 90%;
	height: 10%;
	padding: 0;
	margin: 0 auto;
}

input[type="text"] {
	font-style: italic;
}

.SearchBox .genreButtons {
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.SearchBox .genreButtons .categoryBox {
	min-width: 60px;
	height: 35%;
	background-color: green;
	border: 1px solid white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
		
}

.SearchBox .genreButtons .categoryBox a {
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	font-family: monospace;
	padding: 5px;	
}

.inputTitle h1 {
 	margin: 0;
 	padding-bottom: 10px;
 	text-align: center;
 	color: white;
 	font-size: 55px;
 }

 .SearchBox .genreButtons .categoryBox:hover {
 	transform: scale(1.1);
 }

/*color Button*/

#orangeButton {
	background-color:darkorange;
}
#redButton {
	background-color: #FF3366;
}
#blueButton {
	background-color: #3399FF;
}
#yellowButton {
	background-color:#FA9917;
}

#pink {
	background-color: deeppink;
}

#black {
	background-color: crimson;
}

/*searchBar*/




@media (max-width:1330px) {

	.inputTitle h1 {
 	margin-top: 10px;
 	padding: 0px;
 	text-align: center;
 	color: white;
 	font-size: 4vw;
 	}
	
}

@media (max-width:800px) {

	.inputTitle h1 {
 	margin-top: 25px;
 	padding: 0px;
 	text-align: center;
 	color: white;
 	font-size: 3.7vw;
 	}	
}

@media (max-width:750px) {
	.SearchBox {
	width: 90%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

	.SearchBox .genreButtons .categoryBox {
	min-width: 40px;
	height: 35%;
	background-color: green;
	border: 1px solid white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;	
	}

	.SearchBox .genreButtons .categoryBox a {
	text-decoration: none;
	color: white;
	font-size: 0.7em;
	padding: 2px;	
	}
	.inputTitle h1 {
 	margin-top: 35px;
 	padding: 0px;
 	text-align: center;
 	color: white;
 	font-size: 5.2vw;
 	}

}

@media (max-width:550px) {

	.inputTitle h1 {
 	margin-top: 45px;
 	padding: 0px;
 	text-align: center;
 	color: white;
 	font-size: 25px;
 	}

 	.SearchBox input {
	position: relative;
	width: 90%;
	height: 25px;
	padding: 0;
	margin: 0 auto;
	}

}

@media (max-width:415px) {

	.inputTitle h1 {
 	margin-top: 50px;
 	padding: 0px;
 	text-align: center;
 	color: white;
 	font-size: 18px;
 	}

}








