.allBooks {
	margin-top: 200px;
	
	height: 600px;
	border: 2px solid red;
	display: flex;
}


/*explore*/
.allBooks .exploreBooks {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.exploreBooks .explorebox {
	width: 90%;
	height: 30%;
	border: 5px solid whitesmoke;
	background-image: linear-gradient(ghostwhite, whitesmoke, ghostwhite, whitesmoke);
	border-radius: 15px;
	display: flex;
	align-items: center;

}

.explorebox .pictureDiv {
	width: 35%;
	height: 90%;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	background-image: url(../images/exploreBook.jpg);
	background-size: contain;	
}


/*text about Explore book*/

.explorebox .exploreText {
	width: 65%;
	height: 100%;
	border-radius: inherit;
	/*background-color: palegoldenrod;*/
	display: flex;
	flex-direction: column;
	padding: 5px;
}

/*title and writer*/

.exploreText div:first-child {
	margin-top: 10px;
	width: 100%;
	height: 20%;	
}

.exploreText p {
	font-family: Arial;
	color: #23233d;
	padding: 5px;
}

.exploreText div:first-child p {
	margin: 0;
	padding: 1px;
	font-size: 16px;
}

.exploreText div:first-child p:nth-child(2) {
	font-style: italic;
	font-size: 12px;
}

/*star and Rating*/

.exploreText div:nth-child(2) {
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
} 

.exploreText div:nth-child(2) .star {
	width: 10%;
	height: 60%;
	background-image: url(../images/blueStar.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.exploreText div:nth-child(2) .ratingNumber {
	font-weight: 700;
	font-family: Arial;
}

/*text*/

.exploreText div:nth-child(3) p{
	font-size: 9px;
	margin: 0;

}

/*price and button*/

.exploreText .explorePrice {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.explorePrice * {
	margin: 10px;
	color: #23233d;
}

.explorePrice a {
	font-size: 12px;
	padding: 1px;
	text-decoration: none;
	border: 2px solid #23233d;
	border-radius: 20px;
}

.explorePrice span {
	font-weight: 700;
}

/*All books*/

/*leftside books Box*/


.allBooks .bookBox {
	width: 70%;
	height: 200px;
	display: flex;
	justify-content: space-around;
}

.allBooks .bookBox .bookItem {
	width: 25%;
	height: 130px;
	background-color: ghostwhite;
	display: flex;
}

/*itemImG*/

.bookItem div:first-child {
	width: 40%;
	height: 100%;
}

.bookItem div:first-child img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*Item Info*/

.bookItem .itemInfo {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

/*itemTitle*/

.itemInfo div:first-child {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
}

.itemInfo div:first-child div:first-child {
	color: #23233d;
	font-weight: 700;
}

.itemInfo div:first-child div:nth-child(2) {
	color: #23233d;
	font-style: italic;
	font-size: 12px;
}



/*rating*/

.itemRating {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

.itemRating div:first-child {
	width: 30%;
	height: 80%;
	border: 2px solid green;
}

.itemRating div:first-child img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

/*button*/

.itemInfo .buttonCheck {
	width: 20%;
	height: 20%;
	border: 1px solid white;
	border-radius: 50px;
	background-image: url(../images/checkButton.png);
	background-repeat: no-repeat;
	align-self: flex-end;

}











