/*comic*/
.comics {
	margin-top: 150px;
	width: 80%;
	height: 480px;
	display: flex;
	box-sizing: border-box;
}

/*text*/

.comics .txtComic {
	width: 55%;
	/*height: 100%;*/
	border: 2px solid rebeccapurple;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.txtComic h1 {
	font-family: Verdana;
	color: #23233d;
	font-weight: 700;
	margin: 0;
	padding: 40px;
}

.txtComic p {
	padding-left: 40px;
	padding-right: 5px;
	padding-bottom: 40px;
}

.txtComic #purpleButton2 {
	min-width:80px;
	max-width: 120px;
	padding: 15px 25px;
	margin-right: 27px;
	background-color: #23233d; 
	border: 1px solid #23233d;
  	box-sizing: border-box;
  	color: white;
  	align-self: flex-end;
  	text-decoration: none;
  	display: inline-block;
  	font-weight: 700;
  	font-size: 1.03em;
  	box-sizing: border-box;
}

#purpleButton2:hover {
	background-color: transparent;
	color: #23233d;
	border-color: black;
}

/*firstComic*/

.comics .firstComic  {
	width: 13%;
	border: 2px solid green;
	box-sizing: border-box;
}

.comics .firstComic img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*second comic, girl*/

.comics .secondComic {
	width: 32%;
	border: 1px solid black;
	box-sizing: border-box;
}

.comics .secondComic img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width: 920px) {

	/*comic/flex*/
	.comics {
	margin-top: 550px;
	width: 80%;
	/*height: 70vh;*/
	display: flex;
	flex-direction: column;
    }

    /*text*/

    .comics .txtComic {
	width: 100%;
	display: flex;
	flex-direction: column;
	order: 2;
	}

	.txtComic h1 {
	padding: 5px;
	}

	.txtComic p {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	}

	#purpleButton2 {
		margin-bottom: 10px;
	}

	/*first comic*/
	.comics .firstComic {
		width: 100%;
		height: 170px;
		order: 1;
	}

	/*second comic*/

	.comics .secondComic {
		width: 100%;
		height: 200px;
		order: 3;
	}
	
}





