.contact {
	width: 80%;
	height: 550px;
	display: flex;
}

.contact .form {
	width: 50%;
}

.contact .contactText {
	width: 50%;
}

.contactText * {
	padding-left: 40px;
}

.form * {
	background-color: transparent;
	display: block;
	width: 430px;
	padding: 5px;
	margin: 10px auto;
	border: 1px solid rgba(255, 255, 255, 0.8);	
	color: ghostwhite;
}

.form input:first-child {
	margin-top: 130px;
}

.form button {
	min-width:80px;
	max-width: 120px;
	padding: 10px;
	background-color: #FF1243; 
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: block;
  	font-weight: 700;
  	margin: 0 auto;
}

.form button:hover {
	background-color: transparent;
	color: #FF1243;
	border: 1px solid white;
	box-sizing: border-box;
}

/*contactText*/

.contactText a {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.contactText a:nth-child(4) {
	height: 25px;
	position: relative;
	bottom: 5px;
}

.contactText a:nth-child(6) {
	height: 25px;
	position: relative;
	bottom: 4px;
}

.contactText a:nth-child(7) {
	height: 35px;
	width:px;
	position: relative;
	top: 2px;
} 

.contact a img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.contactText h1 {
	color: white;
	font-size: 45px;
	margin-top: 150px;
}

.contactText h2 {
	color: white;
	font-size: 20px;
}

.contactText p {
	color: white;
}

/*responsive*/

@media (max-width: 1020px) {

	.contact {
	width: 100%;
	height: 680px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	}

	.contact .form {
	width: 100%;
	padding: 0px 0px;
	order: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

	.contactText * {
	padding-left: 0px;
	}

	.contactText h1 {
	color: white;
	margin-top: 40px;
	}

	.contactText p {
	padding-left: 50px;
	padding-right: 50px;
	}

	.form input:first-child {
	margin-top: 150px;
	}

	.form * {
	max-width: 70vw;
	}

	.form textarea {
		height: 140px;
	}

	.contact .contactText {
	width: 100%;
	height: 150px;
	/*padding: 50px 0px;*/
	order: 1;
	text-align: center;
	}
}

@media (max-width: 405px) {

	.contactText p {
	display: none;
	}

	.form input:first-child {
	margin-top: 80px;
	}

}






