
.firstScreen {
	height: 550px;
	display: flex;
    justify-content: space-between;
}

.headline {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headline h1:first-child {
	padding-left: 10px;
	color: white;
	font-size: 40px;
}

.headline i {
	font-weight: 300;
}

.headline p {
	padding-left: 10px;
	margin-right: 5px;
	color: white;
}

#specialh1 {
	display: none;
}

#mainButton {
	min-width:80px;
	max-width: 120px;
	padding: 10px;
	margin-left: 10px;
	background-color: #FF1243; 
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1.1em;
  	font-weight: 700;
}

#mainButton:hover {
	background-color: transparent;
	color: #FF1243;
}


/*mainbooks*/
.mainBooks {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mainBooks img {
	width: 100%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;

}

.mainBooks h5,h4 {
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
}

@media (max-width: 1050px) {

	.mainBook {
		width: 90%;
		margin: 0 auto;
		padding: 0px;
	}

	.mainBooks div:first-child {
		display: none;
	}

	.mainBooks img {
		width: 65%;
		display: block;
		margin: 0 auto;

	}
}

@media (max-width: 860px) {

	.headline {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

	.mainBooks {
	width: 60%;
	}

}

@media (max-width: 680px) {

	.firstScreen {	
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	}

	.headline h1:first-child {
	display: none;
	}

	#mainButton {
		width: 120px;
		margin: 0 auto;
	}

	#specialh1 {
		display: inline-block;
		color: white;
		text-align: center;
		font-size: 2em;
		padding-bottom: 10px;
	}

	.headline {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: 2;
	}

	.mainBooks {
		width: 100%;
		height: 350px;
		order: 1;
	}

	.mainBooks .mainBook {
		align-self: center;
		margin-top: 20px;	
	}

	.mainBooks img {
	width: 50%;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;

	}

}

@media (max-width: 500px) {


	.headline p {
	display: none;
	}

	.mainBooks .mainBook {
		width: 65%;
		margin-top: 60px;
	}
	.mainBooks div:last-child {
		display: none;
	}

	.mainBooks img {
	width: 70%;
	}

} 


















