.nobel {
	margin-top: 100px;
	width: 80%;
	height: 550px;
	background-image: linear-gradient( rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 1.0)); 
}


/*photo conatiner*/
.nobel .prizeWinners {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prizeWinners .winnersPhoto {
	height: 70%;
	width: 17%;
}

.prizeWinners .winnersPhoto img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*winner photos style*/

.prizeWinners .winnersPhoto:first-child {
	height: 50%;
	width: 17%;
}

.prizeWinners .winnersPhoto:nth-child(2) {
	transform: rotate(-3deg);
	width: 16%;
	height: 80%;
	position: relative;
	top: 5px;

}

.prizeWinners .winnersPhoto:nth-child(3) {
	height: 50%;
	position: relative;
	top: 15px;
	z-index: 1;
}

.prizeWinners .winnersPhoto:nth-child(4) {
	width: 22%;
	height: 60%;
	position: relative;
	top: 10px;
}

.prizeWinners .winnersPhoto:nth-child(5) {
	width: 20%;
	height: 80%;
	transform: rotate(5deg);
	position: relative;
	right: 0px;
}

.prizeWinners .winnersPhoto:last-child {
	height: 50%;
	width: 20%;
	z-index: 1;
}

/*nobelTxt*/

.nobel .nobelTxt {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nobelTxt h1 {
	text-transform: capitalize;
	padding: 1%;
	color: #23222d;
	padding-top: 20px;
}

.nobelTxt p {
	padding:1%;
}

#purpleButton {
	min-width:80px;
	max-width: 120px;
	padding: 15px 25px;
	margin-right: 27px;
	background-color: #23233d; 
	border: 1px solid #23233d;
  	box-sizing: border-box;
  	color: white;
  	align-self: flex-end;
  	text-decoration: none;
  	display: inline-block;
  	font-weight: 700;
  	font-size: 1.03em;
}

#purpleButton:hover {
	background-color: transparent;
	color: #23233d;
	border-color: black;
}

/*responsive*/

@media (max-width: 750px) {

	.nobel {
		width: 100%;
		display: flex;
		flex-direction: column;
	} 

	.nobel .prizeWinners {
		display: flex;
		flex-wrap: wrap;
	}

	/*winner photos style*/
	
	.prizeWinners .winnersPhoto:first-child {
		height: 50%;
		width: 33%;
	}

	.prizeWinners .winnersPhoto:nth-child(2) {
		transform: rotate(0deg);
		width: 33%;
		height: 50%;
		position: static;
		
	}

	.prizeWinners .winnersPhoto:nth-child(3) {
		width: 33%;
		height: 50%;
		position: static;
	}

	.prizeWinners .winnersPhoto:nth-child(4) {
		width: 33%;
		height: 50%;
		position: static;
	}

	.prizeWinners .winnersPhoto:nth-child(5) {
		width: 33%;
		height: 50%;
		transform: rotate(0deg);
		position: static;
	}

	.prizeWinners .winnersPhoto:last-child {
		height: 50%;
		width: 33%;
		z-index: 1;
	}

	/*nobelTxt*/

	.nobelTxt {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nobelTxt h1 {
		text-transform: capitalize;
		padding: 0.2%;
		font-size: 2em;
	}

	.nobelTxt p {
		margin-top: 30px;
	}
}
	

