body {
	margin: 0;
	font-size: 100%;
}

h1,h2,h3 {
	font-family: Verdana;
	margin: 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

section {
	background-color: #23222d;
}

#section2 {
	/*background-color:#23233d;*/
	background-image: linear-gradient(#23244d, #23233d, #23211d);
}

/*navigation*/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Arial;
}

nav input {
	display: none;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 30px 22px;
	display: inline-block;
	font-size: 14px;
}

nav ul li a:hover {
	background-color: white;
	color: #23233d;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	text-decoration: none;
}

.logo h1 {
	margin: 0;
	padding: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.logo .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #960000;
	position: relative;
	top: 5px;
	right: 17px;
}

/*footer*/

#footerColor {
	background-color: #D9D9D4;
	margin: 0;  
}

.footerContent {
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin-top: 250px;
}

.footerContent h3 {
	margin-top: 40px;
}

.footerContent .footerMedia a img {
	width: 30px;
	height: 30px;
	margin-top: 50px;
}

.footerContent ul {
	padding: 0;
	list-style: none;
}

.footerContent ul li a {
	text-decoration: none;
	color: black;
}


/*responsive*/

@media (max-width: 750px) {

	nav {
		display: block;
		min-height: 40px;
	}

	nav #checkHamburger {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 3;
		opacity: 0;
	}

	nav .hamburger {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}

	nav .hamburger .hamburgerLine {
		width: 70%;
		height: 5%;
		background-color: white;
		position: relative;
		left: 15%;
		top: 50%;
	}

	nav .hamburger .hamburgerLine::after {
		content: "";
		width: 100%;
		background-color: white;
		height: 100%;
		position: absolute;
		top: 10px;
		left: 0;
	}

	nav .hamburger .hamburgerLine::before {
		content: "";
		width: 100%;
		background-color: white;
		height: 100%;
		position: absolute;
		top: -10px;
		left: 0;
	}

	nav ul {
		margin-top: 15px;
		display: none;
	}

	nav ul li a {
		display: block;
	}

	nav #checkHamburger:checked ~ ul {
		display: block;
	}	

	.footerContent {
		flex-direction: column;
		margin-top: 300px;
	}

}
